@import "fonts";
@import "variables";
@import "form";
@import "expansion";
body {
  font-family: Shabnam, serif;
}

#q-app {
  background-color: $bgApp;
}

.container {
  padding: 55px 62px 0 0;
  width: 100%;

  .title {
    font-weight: bold;
    font-size: 16px;
  }
}


.q-btn {
  border-radius: 6px !important;
}

.btn-boxShadow {
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
