
  .q-focus-helper{
    background-color: $selectBoxFocusBg !important;
  }
.q-item--active{
  .q-focus-helper{
    background-color: $selectBoxActiveFocusBg !important;
  }
}

.multiSelect{
  &.q-item--active{
    color: #1a647a;
    font-weight: 600;
  }
  padding-left: 0;
  .multiSelectSection{
    display: flex;
    .q-checkbox__bg{
      border-radius: 35%;
      width: 45%;
      height: 45%;
    }
    .q-item__section{
      margin-left: 0;
    }
  }
}
.hide-caret {
  input{
    caret-color: transparent;
    cursor: pointer !important;
  }
  .q-field__control-container{
    cursor: pointer !important;
  }
  .q-field__control{
    cursor: pointer !important;
  }
}
